<div class="card">
    <div class="card-header">
        Contact Details
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ contact?.lastName }}, {{ contact?.firstName }}</h5>
        <div class="card-text"><label class="fw-bold">Address line 1:</label> {{contact?.addressLine1}}</div>
        <div class="card-text"><label class="fw-bold">Address line 2:</label> {{ contact?.addressLine2 }}</div>
        <div class="card-text"><label class="fw-bold">City:</label> {{ contact?.city }}</div>
        <div class="card-text"><label class="fw-bold">State:</label> {{ contact?.state }}</div>
        <div class="card-text"><label class="fw-bold">Zip Code:</label> {{ contact?.zipCode }}</div>
        <div class="card-text"><label class="fw-bold">Email:</label> {{ contact?.emailAddress }}</div>
        <div class="card-text pb-3"><label class="fw-bold">Telephone:</label> {{ contact?.telePhoneNumber }}</div>
        <a routerLink="/" class="btn btn-primary" class="btn btn-primary">Back</a>
    </div>
</div>